body {
    background-color: #161211;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.contact-card {
    background: rgba(13, 15, 18, 0.95);
    width: 450px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}
h2 {
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 700;
}
p {
    color: #c7c7c7;
    font-size: 14px;
    margin-bottom: 25px;
}
.input-group {
    margin-bottom: 18px;
}
label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #960b37;
}
input, textarea, select {
    width: 100%;
    padding: 12px;
    border: 2px solid #960b37;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #21252D;
    color: #ffffff;
    outline: none;
    transition: border-color 0.3s ease;
}
input:focus, textarea:focus, select:focus {
    border-color: #F01158;
    box-shadow: 0 0 5px rgb(185, 1, 68);
}
textarea {
    resize: vertical;
    height: 110px;
}
button {
    width: 100%;
    padding: 13px;
    background-color: #F01158;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #7c092d;
}
.status-alert {
    background-color: #21252D;
    color: #7c092d;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}